* {
    box-sizing: inherit;
}
html {
	height: 100%;
	width: 100%;
	box-sizing: border-box;

}
body {
	background-color: black;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	height: 100%;
	width: 100%;
}
#home-anchor {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/background.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	margin: auto;
	height: 85%;
	width: auto;
	padding-top: 15%;
	color: white;
}
#ethan-genser {
	font-size: 72pt;
	margin-bottom: -10px;
}
.glow{
    font-weight:bold;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.6), 0 0 10px rgba(73, 167, 219, 0.5), 0 0 30px rgba(92, 214, 255, 0.7), 0 0 75px rgba(92, 214, 255, 0.8);
}
#nav-bar {
	background-image: url(images/navbar.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
	height: 10%;
}
#nav-buttons {
	float: right;
	padding-top: 0;
	margin-top: 40px;
	margin-right: 20px;
}
.nav-button {
	font-size: 15pt;
	text-decoration: none;
	padding-left: 40px;
}
.nav-button:link {
	color: white;
}
.nav-button:visited {
	color: white;
}
.nav-button:hover {
	color: lightslategray;
}
.nav-button:active {
	color: slategrey;
}
#home:link {
	color: rgb(104, 167, 198);
}
#home:visited {
	color: rgb(104, 167, 198);
}
#home:hover {
	color: rgb(64, 127, 158);
}
#home:active {
	color: rgb(34, 97, 128);
}
#about-anchor {
	padding-top: 30px;
}
#about-table {
	width: 100%;
}
#about-left-collumn {
	width: 100px;
}
#about-right-collumn {
	width: 100px;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
	}
	.nav-button {
		font-size: 12pt;
		padding-left: 15px;
	}
}
#profile-pic {
	display: block;
	margin: auto;
}
.header {
	font-size: 35pt;
}
.paragraph-data {
	font-size: 15pt;
}
.anchor {
	margin-bottom: 200px;
}
.project-link {
	font-size: 20pt;
	margin-bottom: -15px;
	text-decoration: none;
	text-align: center;
}
.project-link:link {
	color: rgb(104, 167, 198);
}
.project-link:visited {
	color: rgb(104, 167, 198);
}
.project-link:hover {
	color: rgb(64, 127, 158);
}
.project-link:active {
	color: rgb(34, 97, 128);
}
#projects-anchor {
	/*background-color: rgb(34, 97, 128);*/
}
.project-data {
	text-align: center;
	font-size: 15pt;
	padding-left: 20px;
	padding-right: 20px;	
}
#contact-anchor {
	background-color: white;
	background-image: url("images/contactbar.png");
	background-size: contain;
	background-repeat: no-repeat;
}
#contact-buttons {
	width: 142px;
	display: block;
	margin: auto;
}
.contact-button {
	width: 33px;
	height: 33px;
}
#contact-header {
	color: black;
	text-align: center;
	margin-bottom: 8Spx;;
}
#git {
	margin-right: 17px;
}
#google {
	margin-right: 17px;
}
#mail {
}